<!DOCTYPE html>
<html lang="ru,en", xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="ISO-8859-1">
    <title>Add department</title>
    <link rel="stylesheet" href="../static/css/app.css" th:href="@{/css/app.css}"/>
</head>
<body>
<div class="header">
    <h1>Add department</h1>
    Hello Logged user: <span sec:authentication="name"></span>
    Your Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN, ROLE_MANAGER]</span>
</div>
<div class="topnav">
    <a th:href="@{/logout}">Logout</a>
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/users/list}">Users list</a>
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/departments/list}">Departments list</a>
</div>
<br>
<form action="#" th:action="@{/departments/addnewdepartment}" method="post" th:object="${department}">
    <div class="form-group mb-3">
        <label>Name:</label>
        <input type="text" th:field="*{name}"/></div>
    <br/>
    <br>
    <div class="form-group mb-3">
        <label>Status:</label>
        <input type="text" th:field="*{status}"/></div>
    <br/>
    <br>
    <div class="form-group mb-3">
        <label>Number:</label>
        <input type="number" th:field="*{number}"/></div>
    <br/>
    <br>
    <div class="form-group">
    <button  class="btn btn-primary" type="submit">Save</button>
    </div>
</form>
</body>
</html>