<!DOCTYPE html>
<html lang="en, ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Update password</title>
    <link rel="stylesheet" href="../static/css/app.css" th:href="@{/css/app.css}" />
</head>
<body>
<div class="header">
    <h1>Update password</h1>
    Hello Logged user: <span sec:authentication="name"></span>
    Your Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN, ROLE_MANAGER]</span>
</div>
<div class="topnav">
    <a th:href="@{/documents/list}">All Documents</a>
    <a  th:href="@{/logout}">Logout</a>
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/users/list}">Users list</a>
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/departments/list}">Departments list</a>
</div>
<br>
<div class="card-body">
        <form action="#" th:action="@{/users/updatepassword}" method="post" th:object="${user}">

            <label>New Password:</label>
            <input type="password" th:field="*{password}" /><br/>
            <br>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>
                </form>
            </div>
</body>
</html>